<% content_for :css do %>
  <%= stylesheet_link_tag 'registrations' %>
  <%= stylesheet_link_tag 'commons' %>
<% end %>

<div class="new-user">
  <div class="new-user-triangle"></div>
    <%= form_for(resource, as: resource_name,html: { class: "new-user-container" }, url: registration_path(resource_name)) do |f| %>
      <h2 class="new-user-header">Update Account</h2>
      <%= bootstrap_devise_error_messages! %>
      <div id="cover-profile-image" class="img-profile profile-relative">
        <% if @user.profile_image_id.present? %>
          <%= image_tag attachment_url(@user, :profile_image),class:'profile-image' %>
        <% else %>
          <%= image_tag 'No-Image.png',class:'profile-image'%>
        <% end %>
      </div>
        <%= f.attachment_field :profile_image,autofocus: true, autocomplete: 'profile_image'%>
      <div class="inputs">
        <%= f.label '名前', class:'label-color'%>
        <%= f.text_field :name, autofocus: true, autocomplete: 'name',placeholder: "name" %>
      </div>
      <div class="inputs">
        <%= f.label 'メールアドレス', class:'label-color'%>
        <%= f.email_field :email, autofocus: true, autocomplete: 'email',placeholder: "Eメール" %>
      </div>
        <div class="text-area">
          <%= f.label '一言', class:'label-color'%>
          <%= f.text_area :profile, autofocus: true,class:'area', autocomplete: 'profile',rows:3,placeholder: '一言' %>
        </div>
        <%= f.submit 'アカウント更新'%>
    <% end %>
  </div>
  <p><%= link_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>.</p>
</div>

<%= javascript_include_tag "user-profile-edit.js" %>
