<% content_for :css do %>
  <%= stylesheet_link_tag 'user-index' %>
<% end %>
<div class="user-index-width">
  <hr>
  <% @users.each do |user|%>
    <div class="user-index-flex">
      <% if user.profile_image.present? %>
        <%= link_to user_path(user) do%>
          <%= attachment_image_tag user,:profile_image,class:'profileImage-index'%>
        <% end %>
      <%else%>
      <%= link_to user_path(user) do%>
        <%= image_tag 'No-Image.png' ,class:'profileImage-index ' %>
      <% end %>
      <% end %>
      <div class="block">
        <%= link_to user_path(user) do%>
          <div class="name-color"><%=user.name%></div>
        <% end %>
        <small class="email-color"><%=user.email%></small><br>
        <div><%=simple_format user.profile%></div>
      </div>
    </div>
    <hr>
  <% end %>
  <nav aria-label="Page navigation example">
    <%= paginate @users %>
  </nav>
</div>