<div class="nested-fields add-detail">
    <div class="imgPreview">
        <%= f.text_area:body,class:'body',rows:3,cols:1,:placeholder => "説明文を入力"  %><br>
        <div id="add-image_0" class="add-relative image-add"> 
          <%= link_to '写真を載せる',class:'add-image',id:'image-preview'%>
        </div> 
            <%= f.attachment_field :image_detail, class: "imageFile",id:"imageFile_0"%>
        <div class="flex-delete-image">
          <%= link_to_remove_association(f) do%>
            <i class="fas fa-window-close font"></i>    
            <% end %>
        </div>
    </div>
    <%= f.hidden_field :id%>
</div>

<%= javascript_include_tag 'boards_detail_image.js' %>

