<%=form_with(model: board, local: true) do |f|%>
  <div class="board-title">
    <div class="Heading">
      <p>タイトル</p>
    </div>
    <%= f.text_field :title,class:'nice-textbox',placeholder: 'タイトルを入力してください(20文字)'%>
  </div>
  <div class="Heading">
      <p>写真を載せる</p>
    </div>
  <div id="cover-image" class="relative">
    <% if board.image_id.present? %>
      <%= image_tag attachment_url(board, :image),class:'board-image'%>
    <% else %>
      <%= image_tag 'none_image.png',class:'board-image'%>
    <% end %>
    <i class="fa fa-camera"></i>
  </div>
    <%= f.attachment_field :image %><br>

  <div class="Heading">
    <p>投稿の生い立ち</p>
  </div>
  <div class="reason">
    <%= f.text_area:body,class:'body',rows:3,cols:1,:placeholder => "この投稿が生まれたきっかけや敬意を入力しよう"  %>
  </div>

  <hr>

  <div class="material-quantity">
    <div class="name-flex">
      <div class="material-name">
        <p>材料</p>
      </div>
      <div class="quantity-name">
        <p>分量</p>
      </div>
    </div>
    <div class="board_details">
      <%= f.fields_for :board_materials do |df| %>
        <%= render partial: "board_material_fields",locals: {f: df } %>
      <% end %>
    </div>
  </div>

      <%# 追加ボタン %>
      <div class="links">
        <div class="links-width">
          <%= link_to_add_association( '行を追加する', f, :board_materials,class:'btn-squared') %>
        </div>
      </div>

    <div class="Heading">
      <p>作り方</p>
    </div>

    <div class="formImage">
    <%= f.fields_for :board_details do |df| %>
      <%= render partial: "board_detail_fields",locals: {f: df } %>
    <% end %>

    <%# 追加ボタン %>
      <div class="links">
        <div class="links-width">
          <%= link_to_add_association( '行を追加する', f, :board_details,class:'btn-squared')%>
        </div>
      </div>
  </div>
    <div class="Heading">
      <p>タグ</p>
    </div>
  <div class="tag-width">
    <div class="checkbox">
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %> 
          <%= tag.label class: '' do %> 
            <%= tag.check_box class: '' %> 
            <%= tag.text %> 
          <% end %> 
      <% end %> 
    </div>
      <%= f.submit class:'form-button' %>
    </div>
  </div>

<% end %>
<%= javascript_include_tag 'boards_image.js' %>

