<% content_for :css do %>
  <%= stylesheet_link_tag 'index-board' %>
<% end %>
<div class="container board-margin">
  <h1 class="text-center">投稿一覧画面</h1>
  <div class="row">
    <% @boards.each do |board| %>
      <div class="col-md-12">
        <hr class="hr">
            <div class="border-index-flex">
              <div class="child-index">
                <%= link_to user_path(board.user.id) do %> 
                  <%= attachment_image_tag board.user, :profile_image,fallback: "No-Image.png",class:"index-user-image"%>
                <% end %>
                <span class="index-name"><%= link_to board.user.name ,user_path(board.user.id)%>が
                <%= board.updated_at.strftime("%Y-%m-%d") %>に投稿</span>
                <div class="index-title">
                <%= link_to board_path(board.id)do %>
                  <%= board.title%>
                <% end %>
                </div>
                <div class="tag">
                  <% board.tags.each do |tag|%>
                    <span class="badge badge-info"><%= tag.name%></span>
                  <% end %>
                </div>
              </div>
            </div>
              <div class=" front-flex">
              <div class="star-rating">
                <div class=" star-rating-front" style="width: <%= board.review_score_percentage %>%">★★★★★</div>
                <div class=" star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display">
                  <%= board.avg_score %>点(<%= board.reviews.count%>件のレビュー)
              </div>
            </div>
            <div class="review">
            <%= link_to board_reviews_path(board) do%>
              レビューを見る
            <%end%>
            <%= link_to board_path(board) do%>
              レビューを書く
            <%end%>
            
          </div>

          <hr class="hr">
      </div>
    <% end %>
  </div>
</div>
