<div>
  <%= @board.title%>
</div>
<div>
  <%= @board.reviews.count %>件のレビュー
</div>
<div>
  <% @reviews.each do |review| %>
    <%= review.user.name%>
    <%= review.score%>
    <%= review.content%>
  <% end %>
</div>
