<title>App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :css %>


    <script src="https://kit.fontawesome.com/484e6509e8.js" crossorigin="anonymous"></script>  </head>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>



